<div>
  <h1>
    詳細画面
  </h1>
  <div>
    <label>
      title: 
    </label>
    <span>
      <%= @question.title %>
    </span>
  </div>
  <div>
    <label>
      name: 
    </label>
    <span>
      <%= @question.name %>
    </span>
  </div>
  <div>
    <label>
      content: 
    </label>
    <span>
      <%= @question.content %>
    </span>
  </div>
  <h2>
    Add a answer
  </h2>
  <%= form_with model: [@question, @question.answers.build] do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
  <%= link_to(questions_path) do %>
    <button>top</button>
  <% end %>
</div>